<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发布</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--引入bootstrape样式文件-->
    <!--注意引入的顺序-->
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>


<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">消息</span>
                <span class="icon-bar">个人资料</span>
                <span class="icon-bar">个人资料</span>
                <span class="icon-bar">退出登录</span>
            </button>
            <a class="navbar-brand" href="#">社区</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索问题">
                </div>
                <button type="submit" class="btn btn-default">提交</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" th:if="${session.user!=null}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"><span th:text="${session.user.getName()}"></span><span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">消息中心</a></li>
                        <li><a href="#">个人资料</a></li>
                        <li><a href="#">注销</a></li>
                    </ul>
                </li>
                <li th:if="${session.user==null}">
                    <a href="https://github.com/login/oauth/authorize?client_id=b54a8fb3db611cdb7d62&redirect_uri=http://localhost:8080/callback&scope=user&state=1">登录</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
    <br>
</nav>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h4><span class="glyphicon glyphicon-plus" aria-hidden="true">发起</span></h4>
            <hr>


            <form action="/publish" method="post">
                <div class="form-group">
                    <label for="title">问题标题(简单扼要):</label>
                    <input type="text" class="form-control" id="title" th:text="title" name="title" placeholder="问题标题">
                </div>

                <div class="form-group">
                    <label for="description">问题补充(请参照右侧的提示):</label>
                    <textarea name="description" id="description" th:text="${description}" class="form-control" cols="30" rows="10"></textarea>
                </div>

                <div class="form-group">
                    <label for="description">添加标签:</label>
                    <input type="text" class="form-control" id="tag" name="tag" th:text="tag" placeholder="输入标签,以都逗号分割">
                </div>
                <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error!=null}">用户未登录</div>
                <button type="submit" class="btn btn-success btn-publish"  style="float: right">发布</button>
            </form>
        </div>
        <br>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>问题发起指南</h3>
            <h5>问题标题:请用精简的语言描述你的问题,不超过30个字</h5>
            <h5>问题补充:详细补充你的问题内容,为确保问题描述清晰直观,请提供一些相关资料</h5>
            <h5>选择标签:选择一个或多个合适的标准,并用逗号隔开</h5>
        </div>
    </div>
</div>
</body>
</html>